.jumbotron.p-t-50px.p-l-25px
  %h1.display-4 What do you want to learn today?

  .p-4
  
  - if @ransack_courses.present?
    .form-inline.my-2.my-lg-0.p-b-50px.p-l-25px
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search.p-t-6px{"aria-hidden" => "true"}

%hr
%h2 Popular Courses
.row
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2 Top Rated Courses
.row
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2 Latest Courses
.row
  - @latest_courses.each do |course|
    = render 'courses/course', course: course