.jumbotron.p-t-50px.p-l-25px
  %h1.display-4 What do you want to learn today?

  .p-4
  
  .form-inline.my-2.my-lg-0.p-b-50px.p-l-25px
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}

%hr
%h2 Popular Courses
.row
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2 Top Rated Courses
.row
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2 Latest Courses
.row
  - @latest_courses.each do |course|
    = render 'courses/course', course: course