%h1
  Users
  
= search_form_for @q do |f|
  = f.search_field :email_cont, placeholder: 'Email'
  = f.search_field :sign_in_count_eq, placeholder: 'Sign In Count'
  // = f.search_field :email_or_sign_in_count_eq, placeholder: 'Email or Sign In Count' #This doesn't seem to filter email field properly
  = f.submit
= link_to users_path, class: 'btn btn-sm btn-secondary' do
  .fa.fa-sync
%p

.row
  - @users.each do |user|
    .col-md-4
      = render 'users/user', user: user
      %p

%table.table.table-bordered
  %thead
    %tr
      %th id
      %th= sort_link(@q, :email)
      %th= 'sign_in_count'.humanize
      %th= 'current_sign_in_at'.humanize
      %th= 'last_sign_in_at'.humanize
      %th= 'current_sign_in_ip'.humanize
      %th= 'last_sign_in_ip'.humanize
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.email
          %td= user.created_at
          %td= user.sign_in_count
          %td= user.current_sign_in_at
          %td= user.last_sign_in_at
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip