.col-sm-12
  .card
    .card-header
      .fa.fa-graduation-cap
      = link_to course.title, course_path(course)
    .card-body
      = course.short_description
    .card-footer
      .fa.fa-tasks
      = course.lessons.count
    .card-footer
      .text-center
        = number_to_currency(course.price)
    .card-footer{ :style => "font-size: small" }
      .row
        .col-md-6
          .fa.fa-globe
          = course.language
        .col-md-6
          .text-end
            .fa.fa-signal
            = course.level
    .card-footer{ :style => "font-size: xx-small" }
      .row
        .col-md-4
          .far.fa-clock
          = course.created_at.strftime('%d-%b-%Y')
        .col-md-8
          .text-end
            .fa.fa-chalkboard-teacher
            = link_to course.user.username, user_path(course.user)
    - if policy(course).edit?
      .card-footer
        .text-center
          = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
          = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
  %p