= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/
Edit
%p

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      Edit Course
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @course
    \|
    = link_to 'Back', courses_path