= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p

.row
  .col-md-6
    = render 'courses/course', course: @course

  .col-md-6
    - if policy(@course).edit?
      = link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'w-100 btn btn-sm btn-primary m-b-10px'
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson